# Environnements et secrets
/.env
/.env.*
!.env.example
!.env.dist
/config/secrets/*.php

/public/bundles/
/var/
/vendor/

# Packages système 
*.deb

# PHPUnit
/phpunit.xml
.phpunit.result.cache

# Asset Mapper 
/public/assets/
/assets/vendor/

# IDE / éditeur
/.idea/
/.vscode/

# Node / NPM / Yarn
/node_modules/
/public/build/

# Fichiers temporaires
*.log
*.cache
*.tmp

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Liip/imagine-bundle
/public/media/cache/


